<head>
  <h1>My page</h1>
</head>
<body>
  <div>
    <img src="https://image.freepik.com/free-icon/laughing-face-stroke_318-71642.png">
  </div>
  <div>
    <p>Name: Natalya Marchenko</p>
    <p>Lives in: Ivano-Frankivsk</p>
    <p>Studied at: IFNTUOG</p>
    </table>
  </div>
</body>


